{% extends "layout.html" %}



{% block title %}
    About
{% endblock %}

{% block main %}

    <div class="container">

        <div class="row portfolio-row justify-content-center">
            <div class="col-md-8">
                <hr>
            </div>
        </div>

        <div class="row about-row justify-content-center">
            <div class="col-8 p-0">

                <h2 class="about-header">Background</h2>

                <p>
                Growing up in
                <span class="flag-icon flag-icon-fr"></span>
                <span class="flag-icon flag-icon-jp"></span>
                <span class="flag-icon flag-icon-us"></span>
                <span class="flag-icon flag-icon-ch"></span>
                <span class="flag-icon flag-icon-ca"></span>
                    , learning new languages and always changing environments has taught me how to adapt and evolve.</p>

                <p>As an electrical engineering student, I developed a primary focus in embedding code into hardware
                    while gaining exposure to the diversity of the field, spanning lasers to integrated circuits.
                    From coding digital architectures onto FPGAs to signal processing, I've worked with code on a variety of
                    technical applications. </p>

                <p>I started my professional career in NYC in a new field, managing the development and construction of real estate projects.
                    Gaining experience from both the office and the site, I completed two unique projects while using my programming knowledge
                    to improve task management and project control systems. I am now part of a new team
                    developing a 7 acre site in Long Island City into two city blocks and waterfront park.</p>

                <p>Longing to return to a more technical environment, I chose to diversify by pursing additional studies,
                    this time in data science which felt like the natural combination of my skills and interests.</p>


                <h2 class="about-header">Skills</h2>



                <p><span class="unijob">Machine Learning & Data Science:</span> Regression, Classification, NLP, Clustering, Network Analysis</p>

                <p><span class="unijob">Software:</span> Python, R, SQL, Java, C, C++</p>
                    <p><span class="unijob">Hardware:</span> Assembly, FPGA (VHDL), CAD VLSI (Cadence)</p>
                    <p><span class="unijob">Web:</span> HTML, CSS, JavaScript</p>


            </div>
        </div>

        <div class="row portfolio-row justify-content-center">
            <div class="col-md-5">
                <div class="text-center">

                    <h2 class="about-header">Timeline</h2>

                </div>
            </div>
        </div>

        <div class="timeline">
            <div class="container-timeline left">
                <div class="content">
                    <h2>2021</h2>
                    <p class="unijob">CUNY School of Professional Studies</p>
                    <p>
                        Master of Science in Data Science
                    </p>
                    <p>Statistics, Machine Learning, Natural Language Processing, Network Analysis</p>

                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                    <h2>2019-Present</h2>

                    <p class="unijob">TF Cornerstone <span class="unijobtitle">Assistant Project Manager<span/><p/>

                    Developing the Special Southern Hunters Point Newtown Creek subdistrict, a 7 acre site on the LIC waterfront,
                    into two city blocks and a shoreline park. The project will add 1.1 million square feet of building
                    area and 1,400 new apartments to the Hunters Point South neighborhood.

                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                    <h2>2015-2019</h2>

                    <p class="unijob">NY Developers <span class="unijobtitle">Assistant Project Manager<span/>
                    <p/>

                    <ul>
                        <li>
                            <a target="_blank" class="about-link" href="https://49chambers.com/">49 Chambers St</a>:
                            Renovated and converted the Emigrants Industrial Savings Banks building, a Beaux-Arts
                            landmark in Tribeca, into a 220,000 SF luxury condominium.
                        </li>
                        <li>
                            <a target="_blank" class="about-link" href="https://www.500met.com/">500 Metropolitan
                                Ave</a>:
                            Developed a 240,000 SF boutique hotel, residential and commercial building in the heart of
                            Williamsburg.
                        </li>
                    </ul>

                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                    <h2>2015</h2>
                    <p class="unijob">Johns Hopkins University</p>
                    <p>Master of Science in Engineering, Electrical and Computer Engineering</p>
                    <p>FGPA, VLSI, Audio & Image Signal Processing, Communications, Photovoltaics, Lasers</p>

                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                    <h2>2014</h2>
                    <p class="unijob">Johns Hopkins University</p>
                    <p>Bachelor of Science, Electrical Engineering</p>
                    <p>FGPA, VLSI, Fields & Waves, Computer Architecture, Control Systems, Microfabrication</p>

                </div>
            </div>
        </div>


    </div>

{% endblock %}